.header {
  @media screen and (min-width: $tabl) {
    border: 1px #ececec;
    border-bottom-style: solid;
  }
  position: relative;
}

// .header-flex {
//   position: relative;
// }

.nav-list,
.contact-list,
.menu-container {
  display: flex;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: block;
  }
}

.header-flex {
  @media screen and (min-width: $tabl) {
    display: flex;
  }
}

@media screen and (min-width: $desk) {
  .menu-container {
    width: 1035px;
  }
}

.mobile-header {
  @include df(space-between);
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    z-index: 3;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 15px;

    background-color: #fff;
    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.noscroll {
  overflow: hidden;
}
.menu-btn {
  display: inline-flex;

  @media screen and (min-width: $tabl) {
    display: none;
  }

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 5;
}

.menu-btn .icon-close {
  display: none;
}

.menu-btn.is-open .icon-close {
  display: block;
}

.menu-btn.is-open .icon-menu {
  display: none;
}
.icon-close,
.icon-menu {
  fill: currentColor;
}

.menu-btn__icon {
  &:focus {
    fill: $accent-color;
  }
}

.nav-list {
  @media screen and (min-width: $tabl) {
    margin-left: 88px;
  }
}
.nav-list__item {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $tabl) {
    font-size: 14px;
    line-height: calc(16 / 14);
  }

  &:not(:last-child) {
    @media screen and (min-width: $tabl) {
      margin-right: 50px;
    }
  }
}

.nav-list__link {
  @media screen and (min-width: $tabl) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.link {
  color: $header-color;
}

.link:hover,
.link:focus {
  color: $accent-color;
}

.link:hover .icon-hover,
.link:focus .icon-hover {
  fill: currentColor;
}

.link.current {
  color: $accent-color;

  @media screen and (min-width: $tabl) {
    color: $accent-color;
    position: relative;

    &::after {
      content: '';

      position: absolute;
      left: 0;
      bottom: -1px;

      width: 100%;
      height: 4px;
      border-radius: 2px;

      background-color: $accent-color;
    }
  }
}

.contact-list {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: $tabl) {
    margin-left: 78px;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width: $desk) {
    margin-left: auto;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contact-list__item:not(:first-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: $desk) {
  .contact-list__item:last-child {
    margin-left: 50px;
  }
}

.contact-list__link {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;

  color: $text-color;

  padding-top: 21px;
  padding-bottom: 21px;

  @media screen and (min-width: $desk) {
    display: flex;
    justify-content: normal;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.33;
  }
}

%contact-icon {
  fill: $text-color;
  margin-right: 10px;
}

.mob-mail {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color: $text-color;
  }
}

.mob-tel {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    color: $accent-color;
  }
}

.contact-icon-envelope {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @extend %contact-icon;
  width: 16px;
  height: 12px;
}

.contact-icon-tel {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @extend %contact-icon;
  width: 10px;
  height: 16px;
}

.mobile-socials {
  display: flex;
  @media screen and (min-width: $tabl) {
    display: none;
  }
}
.mobile-socials__item {
  padding-right: 10px;

  &:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
  }
}

.mobile-socials__item .link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: $accent-color;
}
