$text-color: #757575;
$header-color: #212121;
$accent-color: #2196f3;
$logo-color: #2196f3;
$logo--alt-color: #000000;
$footer-logo--alt-color: #ffffff;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$alt-bg-color: #f5f4fa;
$dark-bg-color: #2f303a;
$body-bg-color: #ffffff;
$btn-text-accent-color: #ffffff;
$icon-cont-bg: #f5f4fa;
$thumb-color: #afb1b8;
$fill-color: #ffffff;
