body {
  font-family: 'Roboto', sans-serif;
  background-color: $body-bg-color;
  color: $text-color;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  @include trans(color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tel) {
    width: $tel;
  }

  @media screen and (min-width: $tabl) {
    width: $tabl;
  }
  @media screen and (min-width: $desk) {
    width: $desk;
  }
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  // @media screen and (max-width: 767px) {
  //   width: 480px;
  // }
  @media screen and (max-width: $desk) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
