.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $logo-color;
  padding-top: 16px;
  padding-bottom: 16px;

  &-alt-color {
    color: $logo--alt-color;
  }
  .footer &-alt-color {
    color: $footer-logo--alt-color;
  }
}

.logo--footer {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
}
